## Final Project Submission

Please fill out:
* Student name: Daniel Ekale
* Student pace: Full time
* Scheduled project review date/time: 17/04/2023 - 21/04/2023
* Instructor name: Antonny Muiko
* Blog post URL:

### Overview
This projects aims to analyze factors affecting house price in King County. Some of these factors are; location, year of construction, size, renovations done and many more. This would greatly help the agency get insights on how to cut down the costs and maximize the profit.

### Business Understanding
As a real estate agency operating in King County, It face challenges in maximizing its profit margins due to the competitive nature of the local real estate market. The demand for properties is influenced by various factors, including location, size, age, renovations, and other variables that affect house prices. In order to thrive in this market and outperform competitors, it needs to identify and analyze these factors to inform its pricing and investment strategies.

In [43]:
# Import the required libraries for analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as sm
import seaborn as sns
plt.style.use('ggplot')

### Data Understanding
This project uses the King County House Sales dataset, which can be found in kc_house_data.csv in the data folder in this assignment's GitHub repository. The description of the column names can be found in column_names.md in the same folder.

In [51]:
# import data
df = pd.read_csv('data/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [45]:
import random
height = np.random.randn(10)+30
catr = ['Yes', 'No'] 
y = np.random.choice(catr, len(height))
df_test = pd.DataFrame({'Height':height, 'Opinion':y})
df_test

      Height Opinion
0  30.327009     Yes
1  28.854971      No
2  30.464743     Yes
3  30.247171      No
4  29.840389      No
5  29.355689     Yes
6  31.306163      No
7  29.955734      No
8  30.440585      No
9  31.313025      No

In [46]:
df_test['Opinion'] = df_test['Opinion'].map({'Yes':1, 'No':0})
formula = 'Opinion ~ Height'
model = sm.ols(formula, df_test).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Opinion   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                 -0.101
Method:                 Least Squares   F-statistic:                    0.1715
Date:                Mon, 17 Apr 2023   Prob (F-statistic):              0.690
Time:                        16:18:04   Log-Likelihood:                -6.2801
No. Observations:                  10   AIC:                             16.56
Df Residuals:                       8   BIC:                             17.17
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.0504      6.643      0.459      0.658     -12.268      18.368
Height        -0.0910      0.220     -0.414      0.690      -0.598       0.416
==============================================================================
Omnibus:                        3.042   Durbin-Watson:                   2.556
Prob(Omnibus):                  0.218   Jarque-Bera (JB):                1.753
Skew:                           0.823   Prob(JB):                        0.416
Kurtosis:                       1.776   Cond. No.                     1.25e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.25e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\Daniel Ekale\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [50]:
# folium libray
import folium
m = folium.Map(location=[df.lat.min(), df.long.max()])
m

### Project Outline
* Introduction
> * Title
> * Explanation
* Business Problem
* Data Understanding
* Data processing
* Data analysis
> * Statistical tests and distributions
> * Visualizations
* Modeling
> * Linear regression
> * Multiple regression
* Interpretations and Recommendations
* Conclusion